<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= adminData.title %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  
  <%- include('layouts/header');%>
  <div class="container mt-5">
    <h3 class="text-center">Data Admin</h3>

    <a class="btn btn-close-white btn-dark mb-3" href="/data/add_admin"><i class="bi bi-plus-circle mx-1"></i>Tambah Data</a>
    <!-- kelas d-flex digunakan agar benda/objek menyusut dan fleksibel -->
    <div class="float-end d-flex">
      <input class="form-control me-2" type="text" id="search-bar" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>

    <table class="table table-success table-hover table-light table-bordered" id="data-table-view">
      <thead class="table-primary">
        <tr class="text-center">
          <th>No.</th>
          <th>Nama</th>
          <th>Username</th>
          <th>Alamat Email</th>
          <th>Action</th>
        </tr>
        </thead>
      <tbody>
        <% for(var i = 0 ; i < tableAdmin.length; i++) { %>
        <tr class="text-center">
          <td><%= i + 1%></td>
          <td><%= tableAdmin[i].nama_lengkap %></td>
          <td><%= tableAdmin[i].username %></td>
          <td><%= tableAdmin[i].alamat_email %> </td>
          <td>
            <a href="" class="mx-2" title="Update"><i class="bi bi-pencil-square"></i></a>
            <a class="mx-2" title="Detail" data-bs-toggle="modal" data-bs-target="#detailModal"
              data-nama_lengkap="<%= tableAdmin[i].nama_lengkap %>",
              data-username="<%= tableAdmin[i].username %>",
              data-nomor_telepon="<%= tableAdmin[i].nomor_telepon %>",
              data-alamat_email="<%= tableAdmin[i].alamat_email %>",
            >
            <i class="bi bi-ticket-detailed"></i>
          
          </a>
            <a class="mx-2" title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="<%= tableAdmin[i].id %>"><i class="bi bi-trash3-fill"></i></a>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>

  </div>
  <% if (success) { %>
    <!-- Kode HTML untuk modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Input Data Berhasil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Data admin berhasil ditambahkan.
          </div>
          <div class="modal-footer">
            <a href="/data/data_admin">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <% } %>


    <div class="modal fade" tabindex="-1" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Konfirmasi Hapus</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Anda yakin ingin menghapus data ini ?</p>

          </div>
          <div class="modal-footer">
            <form action="/data/delete_admin" method="POST">
              <input type="hidden" name="id" id="deleteIdInput">
              <button type="submit" class="btn btn-primary">Iya</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inputan Berhasil</h5>
        <p class="card-text">Data admin berhasil ditambahkan.</p>
      </div>
    </div> -->
    <!-- Kode JavaScript untuk menampilkan card box saat halaman dimuat -->

    <script>
      $(document).ready(function() {
        $('#successCard').fadeIn(1000);
        setTimeout(function() {
          $('#successCard').fadeOut(1000);
        }, 3000);
      });
    </script>

<script>
  $(document).ready(function() {
    $('#successModal').modal('show');
  });
</script>



  <!-- Tempatkan card box di dalam tampilan -->
  <div id="successCard" style="display: none;">
    <!-- Kode card box di sini -->
  </div>


  <div class="modal fade" tabindex="-1" id="detailModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Username: <span id="detailUsername"></span></p>
          <p>Nama Lengkap: <span id="detailNamaLengkap"></span></p>
          <p>Nomor Telepon: <span id="detailNomorTelepon"></span></p>
          <p>Alamat Email: <span id="detailAlamatEmail"></span></p>

        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Tutup</button>
        </div>

      </div>
    </div>    
  </div>



  <script>
    $(document).ready(function(){
      $('#deleteModal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var modal = $(this);

        modal.find('#deleteIdInput').val(id); 
      });
    });
  </script>

<!-- Sementara buat function untuk detail admin. -->
  <script>
    $(document).ready(function(){
      $('#detailModal').on('show.bs.modal',function(event){

        var button = $(event.relatedTarget);
        var usernameAdmin = button.data('username');
        var namaLengkapAdmin = button.data('nama_lengkap');
        var nomorTeleponAdmin = button.data('nomor_telepon');
        var alamatEmailAdmin = button.data('alamat_email');

        var modal = $(this);

        modal.find('#detailUsername').text(usernameAdmin);
        modal.find('#detailNamaLengkap').text(namaLengkapAdmin);
        modal.find('#detailNomorTelepon').text(nomorTeleponAdmin);
        modal.find('#detailAlamatEmail').text(alamatEmailAdmin);
      });
    });

  </script>


  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> -->
  <script src="/js/searchBarLive.js"></script>
  <%- include('layouts/footer');%>

</body>
</html>